body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
  margin: 0;
}
#map {
  height: 90vh;
  width: 100%;
}