body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 90vh;
    width: 100%;
}

h2 {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    margin: 0;
}
#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}